{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="addMenuDiv">

{{if len(request.vars) > 0 and 'flash' in request.vars.keys():}}	
<div class="flash">{{=request.vars['flash']}}</div>
{{pass}}
<h3>Advanced search : </h3>

<form action={{=URL('advancedSearch')}} method="post">
<table>
<tr>
	<td><b>Locality</b></td>
	<td><b>:</b></td>
	<td><input type="text" name="hotel_locality"></input></td>
</tr>
<tr>
	<td><b>Type of food</b></td>
	<td><b>:</b></td>
	<td><input type="text" name="type_of_food"></input></td>
</tr>
<tr>
	<td>
		<b>Cost per 2 persons</br>
		<input type="radio" name="cost" value="lesser"><b>Less than</b></input>
		<input type="radio" name="cost" value="greater"><b>Greater than</b></input>
	</td>
	<td><b>:</b></td>
	<td>
		<input type="text" name="costValue"></input>
	</td>
</tr>
<tr>
	<td>
		<b>Rating</b></br>
		<input type="radio" name="rating" value="lesser"><b>Less than</b></input>
		<input type="radio" name="rating" value="greater"><b>Greater than</b></input>
	</td>
	<td><b>:</b></td>
	<td>
		<input type="text" name="ratingValue"></input>
	</td>
</tr>
<tr>
	<td></td>
	<td></td>
	<td><input type="submit" name="submit" value="Search"></input></td>
</tr>
</table>
</form>

{{if 'advSearchForm' in globals():}}
	{{=advSearchForm}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

</div>