{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="addMenuDiv">

<h3>Advanced search : </h3>
<p>{{=vars}}</p>

<form action={{=URL('advancedSearch')}} method="post">
<table>
<tr>
	<td>Locality</td>
	<td><input type="text" name="hotel_locality"></input></td>
</tr>
<tr>
	<td>Type of food</td>
	<td><input type="text" name="type_of_food"></input></td>
</tr>
<tr>
	<td>
		Cost</br>
		<input type="radio" name="cost" value="lesser">Less than</input>
		<input type="radio" name="cost" value="greater">Greater than</input>
	</td>
	<td>
		<input type="text" name="costValue"></input>
	</td>
</tr>
<tr>
	<td>
		Rating</br>
		<input type="radio" name="rating" value="lesser">Less than</input>
		<input type="radio" name="rating" value="greater">Greater than</input>
	</td>
	<td>
		<input type="text" name="ratingValue"></input>
	</td>
</tr>
<tr>
	<td></td>
	<td><input type="submit" name="submit" value="submit"></input></td>
</tr>
</table>
</form>

{{if 'advSearchForm' in globals():}}
	{{=advSearchForm}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

</div>