{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="hotelInfo">
	<span id="hotelName">Name : <a href='#'>{{=details.name}}</a></span></br>
	<p>Address : {{=details.address}}</p></br>
	<p>Open for : {{=details.hours}}</p></br>
	<p>Cost per two : {{=details.costPerTwo}}</p></br>
	<p><a href='#ReviewsBlock'>{{=details.no_of_reviewes}} reviews</a></p></br>
	<p>Overall Rating : {{=details.overall_rating}}</p></br>
	<p>Name : details.name</p></br>
	<p>Name : details.name</p></br>
</div>
</br>

<p id="ReviewsBlock" style="font-weight:bold">Reviews</p>
<a href="#writeReview">Write a review</a>
{{for review in reviews:}}
<div>
	<p><a href={{=URL('userDetails', args=[review.auth_user.id])}}><b><i>{{=review.auth_user.first_name}} {{=review.auth_user.last_name}}</i></b></a></p></br>
	<img class="profilePic" src={{=URL('download',args=review.auth_user.photo)}}></img>
	<p>Rating : {{=review.Review.rating}}</p></br>
	<p>When : {{=review.Review.time_of_post}}</p></br>
	<p>Description : {{=review.Review.description}}</p></br>
	</br>
</div>
{{pass}}

<p id="writeReview">Write a review</p>
{{=addReviewForm}}
{{block right_sidebar}}
{{=A(T("Adds will go here"), _href=URL('admin','default','index'), _class='btn',
     _style='margin-top: 1em;')}}
{{end}}
