{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}

<style type="text/css">
	body
	{
		background-image:url('bimage.jpg');
	}
</style>

<div id="main">
<h3>{{=message}}</h3>
<div id="categoryDiv">
	<div class="restroType"></div>
	<div class="restroType"></div>
	<div class="restroType"></div>
	<div class="restroType"></div>
</div>

<div id="searchGroup">
	<!--<input type="text"></input>
	<a href="{{=URL(f='search')}}">Search</button>-->
	{{=form}}

</div>
</div>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
