{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'content' in globals():}}
<h3>Search result for : {{=request.vars['key']}}</h3>


{{if 'newSearchForm' in globals():}}

<h4>Sorry no hotels found of your interest in city  {{=session.city}}</h4>

<h4>Would you like try any other??</h4>

<div id="searchGroup">
	<!--<input type="text"></input>
	<a href="{{=URL(f='search')}}">Search</button>-->
	{{=newSearchForm}}

</div>

{{pass}}

{{for hotel in content:}}
<!--<p>{{=BEAUTIFY(hotel)}}</p>
</br></br>
-->
<div class="clear"></div>
<div class="grid_8 pos-relative column alpha">
	<div class="search-name">
		<h3 class="top-res-box-name ln24 left"><a href={{=URL('details', args=[hotel.id])}}>{{=hotel.name}}</a></h3></br>
		<div class="clear"></div>
		<div class="ln24" style="line-height: 26px;">
			<span class="search-result-address">{{=hotel.address}}</span>
		</div>
		<div class="res-snippet-small-cuisine" style="color: #4d4d4d;" title="European, North Indian, Mediterranean">European, North Indian, Mediterranean
		</div>
		<div class="ln24">
			<span class="upc grey-text sml">Cost for 2:</span> {{=hotel.costPerTwo}}&nbsp;/&nbsp;
			<span class="ln24"><span class="grey-text">Hours: </span>Timings : {{=hotel.hours}}</span>
			<p><a href='#'></a></p></br>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="grid_4 column omega ta-right">
	 <div class="search-result-stars ln24 clearfix">
	 	<div class="right">
            <div class="rating-rank left">
            	<div data-res-id="90744" class="rating-for-90744 rating-div left res-snippet-small-rating level-7">
                                {{=hotel.overall_rating}}
                            </div>
            </div>
        </div>
	 </div>
	 <div class="clear"></div>
	 <div class="right search-details-reviews" style="">
        <a href="#" class="search-result-reviews right" title="User reviews for Exotica">{{=hotel.no_of_reviewes}} reviews</a>
        <span data-icon="r" class="right search-result-review-icon"></span>
     </div>
     <div class="clear"></div>
</div>
</br>
{{pass}}


<!-- Add few recommondations -->

<div class="clear"></div>

{{if len(recommondations) > 0 :}}

<div>
<h4>{{=recommondationMessage}}</h4>
</div>
{{for hotel in recommondations:}}

<div class="clear"></div>
<div class="grid_8 pos-relative column alpha">
	<div class="search-name">
		<h3 class="top-res-box-name ln24 left"><a href={{=URL('details', args=[hotel.id])}}>{{=hotel.name}}</a></h3></br>
		<div class="clear"></div>
		<div class="ln24" style="line-height: 26px;">
			<span class="search-result-address">{{=hotel.address}}</span>
		</div>
		<div class="res-snippet-small-cuisine" style="color: #4d4d4d;" title="European, North Indian, Mediterranean">European, North Indian, Mediterranean
		</div>
		<div class="ln24">
			<span class="upc grey-text sml">Cost for 2:</span> {{=hotel.costPerTwo}}&nbsp;/&nbsp;
			<span class="ln24"><span class="grey-text">Hours: </span>Timings : {{=hotel.hours}}</span>
			<p><a href='#'></a></p></br>
		</div>
		<div class="clear"></div>
	</div>
</div>
<div class="grid_4 column omega ta-right">
	 <div class="search-result-stars ln24 clearfix">
	 	<div class="right">
            <div class="rating-rank left">
            	<div data-res-id="90744" class="rating-for-90744 rating-div left res-snippet-small-rating level-7">
                                {{=hotel.overall_rating}}
                            </div>
            </div>
        </div>
	 </div>
	 <div class="clear"></div>
	 <div class="right search-details-reviews" style="">
        <a href="#" class="search-result-reviews right" title="User reviews for Exotica">{{=hotel.no_of_reviewes}} reviews</a>
        <span data-icon="r" class="right search-result-review-icon"></span>
     </div>
     <div class="clear"></div>
</div>
</br>
{{pass}}
{{pass}}


{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
