{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<div id="userInfo">
	<img class="profilePic" src={{=URL('download', args=photo)}}></img>
	<p><a href={{=id}}>{{=fname}} {{=lname}}</a></p>
	{{if auth.has_membership('moderator', request.args[0]):}}
		<span>Moderator</span>
	{{else:}}
		<span>Normal user</span>
		</br>
		<!-- If logged in user is moderator, show an option to make this user as moderator -->
		{{if auth.has_membership('moderator'):}}
			<a href={{=URL('makeModerator', args=[request.args[0]])}}>Make moderator</a>
		{{pass}}
	{{pass}}
	<p>{{=len(userReviews)}} Reviews</p>
</div>


{{for review in userReviews :}}

<div id="userReviews">
	<span id="reviewForHotel">Name : <a href={{=URL('details', args=[review.Review.hotel_id])}}>{{=review.Hotel_Info.name}}</a></span></br>
	<p>{{=review.Review.description}}</p></br>
	<p>Rating : {{=review.Review.rating}}</p></br>
</div>
</br>
{{pass}}
