div.restroType
{
	width: 100px;
	height: 100px;
	background-color: yellow;
	border: 1px solid black;
	float: left;
}

#categoryDiv
{
	height: 150px;
	padding-bottom: 1px;
}

div#searchGroup
{
	width: 300px;
	height: 100px;
}

div#hotelInfo
{
	border: 1px solid black;
	padding-left: 30px;
}

div span#hotelName
{
	color: red;
	font-weight: bold;
	padding-bottom: 50px;
}